@page "/books"

@inject IDialogService DialogServicee

@inject Service ServiceBook

<PageTitle>Books</PageTitle>


<div class="row d-flex mb-3">
    <div class="col-md-4 d-flex justify-content-between">
        <MudButton Variant="Variant.Filled" Size="@Size.Medium" StartIcon="@Icons.Material.Filled.Add" Link="/createbook" Color="Color.Primary">Add</MudButton>
        <MudButton Variant="Variant.Filled" Size="@Size.Medium" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error">Delete Selected</MudButton>
    </div>
</div>
<MudDataGrid Items="@Books" Filterable="false" SortMode="@SortMode.None" Groupable="false">
    <Columns>
        <SelectColumn T="Book" />
        <TemplateColumn CellClass="d-flex justify-end p-2 m-0">
            <CellTemplate>
                    <MudImage style="border-radius:50%;width:40px; height:40px;" Src="@context.Item.Icon.ToString()" Alt="text"></MudImage>
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.Title" />
        <PropertyColumn Property="x => x.Datepublication" Title="Date de publication" />
        <PropertyColumn Property="x => x.DateAdd" Title="date" />
        <PropertyColumn Property="x => x.Category.Name" Title="Category" />
        <PropertyColumn Property="x => x.Price" Format="C" />
        <TemplateColumn>
            <CellTemplate>
                <MudStack Row>
                    <MudRating Size="@Size.Small" SelectedValue="@context.Item.Stars" />
                </MudStack>
            </CellTemplate>
        </TemplateColumn>

        <TemplateColumn CellClass="p-0 m-0">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Filled.Delete" @onclick ="@(()=>Confirm(context.Item.Id))"></MudIconButton>
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Filled.Edit" Href="@string.Concat("/editbook/",@context.Item.Id.ToString())"></MudIconButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

@code {
    public List<Book> Books;
    protected override async Task OnInitializedAsync()
    {
        Books = await ServiceBook.GetBooks();
    }



    private async void Confirm(int id)
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Are you sure you want to remove this book");
        parameters.Add("ButtonText", "Yes");
        parameters.Add("Color", Color.Success);

        var result = await DialogServicee.Show<Dialog>("Confirm", parameters).Result;
        if (!result.Cancelled)
        {
            var resultdelete = await ServiceBook.DeleteBook(id);
            Books = await ServiceBook.GetBooks();
            await InvokeAsync(StateHasChanged);
        }
    }



}
